@using ProjectAmaterasu.Extensions
@model List<PartidaModels>
@{
    TempData["LinkSessao"] = "";
    TempData["Sessao"] = "Lista de Partidas";
    TempData["Pagina"] = "Partidas";
    ViewData["Title"] = "Lista de Partidas";
}
<link href="~/css/alerts.css" rel="stylesheet" />
<link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css' rel='stylesheet'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css' rel='stylesheet'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css' rel='stylesheet'>
<section class="content">
    <!-- Exibindo mensagens de sucesso ou erro -->
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="row" id="Aviso">
            <div class="col-sm-12">
                <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                    <button type="button" class="close font__size-18" data-dismiss="alert">
                    </button>
                    <i class="start-icon fa fa-exclamation-triangle faa-flash animated"></i>
                    <strong class="font__weight-semibold">Atenção!</strong> "@Html.Raw(TempData["ErrorMessage"])"
                </div>
            </div>
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="row" id="Aviso">
            <div class="col-sm-12">
                <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                    <button type="button" class="close font__size-18" data-dismiss="alert">
                    </button>
                    <i class="start-icon far fa-check-circle faa-tada animated"></i>
                    "@Html.Raw(TempData["SuccessMessage"])"
                </div>
            </div>
        </div>
    }
    @if (TempData["WarningMessage"] != null)
    {
        <div class="row" id="Aviso">
            <div class="col-sm-12">
                <div class="alert fade alert-simple alert-warning alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                    <button type="button" class="close font__size-18" data-dismiss="alert">
                    </button>
                    <i class="start-icon fa fa-exclamation-triangle faa-flash animated"></i>
                    <strong class="font__weight-semibold">Atenção!</strong> "@Html.Raw(TempData["WarningMessage"])"
                </div>
            </div>
        </div>
    }
    <div class="row" id="Editar" style="display: none;">
        <div class="col-sm-12">
            <div class="alert fade alert-simple alert-warning alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                <button type="button" class="close font__size-18" data-dismiss="alert">
                </button>
                <i class="start-icon fa fa-exclamation-triangle faa-flash animated"></i>
                <strong class="font__weight-semibold">Atenção!</strong> Tem certeza que deseja alterar a partida? Clique para continuar...
            </div>
        </div>
    </div>
    <div class="row" id="Excluir" style="display: none;">
        <div class="col-sm-12">
            <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                <button type="button" class="close font__size-18" data-dismiss="alert">
                </button>
                <i class="start-icon fa fa-exclamation-triangle faa-flash animated"></i>
                <strong class="font__weight-semibold">Atenção!</strong> Tem certeza que deseja deletar a partida? Clique para continuar...
            </div>
        </div>
    </div>
    @if (User.Identity.GetTema() == "1")
    {
        <style>
            .fa, .fas {
                font-weight: 900;
                color: #343a40;
            }
            .card-success:not(.card-outline) > .card-header, .card-success:not(.card-outline) > .card-header a {
                color: #343a40;
                padding-left: 5px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card card-success collapsed-card">
                            <div class="card-header" style="background-color: #fff; margin: 2px!important;">
                                <h3 class="card-title" style="display: flex;flex-direction: column;">
                                    <i class="fas fa-gamepad" style="color: #343a40;margin-bottom: 5px;padding-left: 5px;">&emsp;Partida @item.Id</i>
                                    <i class="fas fa-calendar" style="color: #343a40;margin-bottom: 5px;padding-left: 5px;">&emsp; @item.Data.ToString("dd/MM/yyyy")</i>
                                    <i class="fas fa-clock" style="color: #343a40;margin-bottom: 5px;padding-left: 5px;">&emsp; @Html.Raw(item.Duracao +" minutos")</i>
                                    <i class="fas fa-trophy" style="padding-left: 5px;">&emsp;@Html.Raw(item.Nome)</i>
                                </h3>
                                <div class="card-tools">
                                    @if (item.Id_Usuario == User.Identity.GetSessionID() && item.Data.AddDays(2) >= DateTime.Now)
                                    {
                                        <a href="~/deletar-partida/@item.Id" id="Deletar" style="display: none;">
                                        </a>
                                        <a href="~/alterar-partida/@item.Id" id="Alterar" style="display: none;">
                                        </a>
                                        <a href="#" id="MsgDeletar">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                        <a href="#" id="MsgAlterar">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    }
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" style="display: none;">
                                <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_2)</p>
                                <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_3)</p>
                                @if (!String.IsNullOrEmpty(item.Nome_4))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_4)</p>
                                }
                                @if (!String.IsNullOrEmpty(item.Nome_5))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_5)</p>
                                }
                                @if (!String.IsNullOrEmpty(item.Nome_6))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_6)</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else if (User.Identity.GetTema() == "2")
    {
        <style>
            .card-success:not(.card-outline) > .card-header, .card-success:not(.card-outline) > .card-header a {
                padding-left: 5px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card card-success collapsed-card">
                            <div class="card-header" style="background-color: #343a40; margin: 2px!important;">
                                <h3 class="card-title" style="display: flex;flex-direction: column;">
                                    <i class="fas fa-gamepad" style="margin-bottom: 5px;padding-left: 5px;">&emsp;Partida @item.Id</i>
                                    <i class="fas fa-calendar" style="margin-bottom: 5px;padding-left: 5px;">&emsp; @item.Data.ToString("dd/MM/yyyy")</i>
                                    <i class="fas fa-clock" style="margin-bottom: 5px;padding-left: 5px;">&emsp; @Html.Raw(item.Duracao +" minutos")</i>
                                    <i class="fas fa-trophy" style="padding-left: 5px;">&emsp;@Html.Raw(item.Nome)</i>
                                </h3>
                                <div class="card-tools">
                                    @if (item.Id_Usuario == User.Identity.GetSessionID() && item.Data.AddDays(2) >= DateTime.Now)
                                    {
                                        <a href="~/deletar-partida/@item.Id" id="Deletar" style="display: none;">
                                        </a>
                                        <a href="~/alterar-partida/@item.Id" id="Alterar" style="display: none;">
                                        </a>
                                        <a href="#" id="MsgDeletar">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                        <a href="#" id="MsgAlterar">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    }
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" style="display: none;">
                                <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_2)</p>
                                <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_3)</p>
                                @if (!String.IsNullOrEmpty(item.Nome_4))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_4)</p>
                                }
                                @if (!String.IsNullOrEmpty(item.Nome_5))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_5)</p>
                                }
                                @if (!String.IsNullOrEmpty(item.Nome_6))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_6)</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</section>
<script>
    $(document).ready(function () {
        document.getElementsByTagName("center")[0].style.display = "none";
    });

    function Fade() {
        setTimeout(function () {
            var Aviso = document.getElementById("Aviso");
            if (Aviso != null) {
                Aviso.style.display = "none";
            }
        }, 10000);
    }

    Fade();
    $(document).ready(function () {

        $("#MsgAlterar").click(function () {
            $("#Editar").show();
            setTimeout(function () {
                $("#Editar").hide();
            }, 10000);
        });

        $("#Editar").click(function () {
            $("#Editar").hide();
            window.location.href = $("#Alterar").attr("href");
        });
        $("#MsgDeletar").click(function () {
            $("#Excluir").show();
            setTimeout(function () {
                $("#Excluir").hide();
            }, 10000);
        });

        $("#Excluir").click(function () {
            $("#Excluir").hide();
            window.location.href = $("#Deletar").attr("href");
        });
    });
</script>