@using ProjectAmaterasu.Extensions
@model List<PartidaModels>
@{
    TempData["LinkSessao"] = "";
    TempData["Sessao"] = "Lista de Partidas";
    TempData["Pagina"] = "Partidas";
    ViewData["Title"] = "Lista de Partidas";
}
<section class="content">
 @if (User.Identity.GetTema() == "1")
    {
        <style>
            .fa, .fas {
                font-weight: 900;
                color: #343a40;
            }
            .card-success:not(.card-outline) > .card-header, .card-success:not(.card-outline) > .card-header a {
                color: #343a40;
                padding-left: 5px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card card-success collapsed-card">
                            <div class="card-header" style="background-color: #fff; margin: 2px!important;">
                                <h3 class="card-title" style="display: flex;flex-direction: column;">
                                    <i class="fas fa-gamepad" style="color: #343a40;margin-bottom: 5px;padding-left: 5px;">&emsp;Partida @item.Id</i>
                                    <i class="fas fa-calendar" style="color: #343a40;margin-bottom: 5px;padding-left: 5px;">&emsp; @item.Data.ToString("dd/MM/yyyy")</i>
                                    <i class="fas fa-clock" style="color: #343a40;margin-bottom: 5px;padding-left: 5px;">&emsp; @Html.Raw(item.Duracao +" minutos")</i>
                                    <i class="fas fa-trophy" style="padding-left: 5px;">&emsp;@Html.Raw(item.Nome)</i>
                                </h3>
                                <div class="card-tools">
                                    @if (item.Id_Usuario == User.Identity.GetSessionID() && item.Data.AddDays(2) >= DateTime.Now)
                                    {
                                        <a href="~/deletar-partida/@item.Id"  onclick="return confirm('Tem certeza que deseja deletar a partida?');">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                        <a href="~/alterar-partida/@item.Id">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    }
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" style="display: none;">
                                <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_2)</p>
                                <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_3)</p>
                                @if (!String.IsNullOrEmpty(item.Nome_4))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_4)</p>
                                }
                                @if (!String.IsNullOrEmpty(item.Nome_5))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_5)</p>
                                }
                                @if (!String.IsNullOrEmpty(item.Nome_6))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_6)</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else if (User.Identity.GetTema() == "2")
    {
        <style>
            .card-success:not(.card-outline) > .card-header, .card-success:not(.card-outline) > .card-header a {
                padding-left: 5px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card card-success collapsed-card">
                            <div class="card-header" style="background-color: #343a40; margin: 2px!important;">
                                <h3 class="card-title" style="display: flex;flex-direction: column;">
                                    <i class="fas fa-gamepad" style="margin-bottom: 5px;padding-left: 5px;">&emsp;Partida @item.Id</i>
                                    <i class="fas fa-calendar" style="margin-bottom: 5px;padding-left: 5px;">&emsp; @item.Data.ToString("dd/MM/yyyy")</i>
                                    <i class="fas fa-clock" style="margin-bottom: 5px;padding-left: 5px;">&emsp; @Html.Raw(item.Duracao +" minutos")</i>
                                    <i class="fas fa-trophy" style="padding-left: 5px;">&emsp;@Html.Raw(item.Nome)</i>
                                </h3>
                                <div class="card-tools">
                                    @if (item.Id_Usuario == User.Identity.GetSessionID() && item.Data.AddDays(2) >= DateTime.Now)
                                    {
                                        <a href="~/deletar-partida/@item.Id" onclick="return confirm('Tem certeza que deseja deletar a partida?');">
                                            <i class="bi bi-x-circle"></i>
                                        </a>
                                        <a href="~/alterar-partida/@item.Id">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    }
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" style="display: none;">
                                <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_2)</p>
                                <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_3)</p>
                                @if (!String.IsNullOrEmpty(item.Nome_4))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_4)</p>
                                }
                                @if (!String.IsNullOrEmpty(item.Nome_5))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_5)</p>
                                }
                                @if (!String.IsNullOrEmpty(item.Nome_6))
                                {
                                    <p style="color: #343a40; margin-bottom: 2px!important;"><i class="fas fa-user"></i>&emsp;@Html.Raw(item.Nome_6)</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</section>
